LAGO_DOMAIN=
LAGO_ACME_EMAIL=
SECRET_KEY_BASE=
LAGO_ENCRYPTION_PRIMARY_KEY=
LAGO_ENCRYPTION_DETERMINISTIC_KEY=
LAGO_ENCRYPTION_KEY_DERIVATION_SALT=

POSTGRES_USER=lago
POSTGRES_PASSWORD=
POSTGRES_DB=lago
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Optional: set to true when using external managed DB and Redis and run with --profile all-no-db
# LAGO_USE_EXTERNAL_DB=true

# Optional: enable only when starting with --profile portainer
PORTAINER_USER=
PORTAINER_PASSWORD=